{% extends 'base.html.twig' %}

{% block title %}TypeOfTariff{% endblock %}

{% block body %}
    <h1>TypeOfTariff</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_of_tariff.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ type_of_tariff.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ type_of_tariff.createdAt ? type_of_tariff.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ type_of_tariff.updatedAt ? type_of_tariff.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_of_tariff_index') }}">back to list</a>

    <a href="{{ path('type_of_tariff_edit', {'id': type_of_tariff.id}) }}">edit</a>

    {{ include('type_of_tariff/_delete_form.html.twig') }}
{% endblock %}
