{{ form_start(form) }}
<div class="form-group">
    <div class="col-sm-12 mb-3 mb-sm-0">
        {{ form_label(form.file) }}
        {{ form_errors(form.file) }}
        {{ form_widget(form.file) }}
        <div class="image_preview" style="padding: 1rem 0;"></div>
    </div>

    <div class="col-sm-12 mb-3 mb-sm-0">
        {{ form_label(form.legend) }}
        {{ form_errors(form.legend) }}
        {{ form_widget(form.legend) }}
    </div>
    {{ form_row(form.path) }}
    {{ form_row(form.dataURL) }}
    <div class="col-sm-6 mt-3 mb-sm-0">
        <button type="submit" class="btn btn-success btn-sm">Valider</button>
    </div>
</div>

{{ form_end(form) }}
