{% extends 'admin/layout/base.html.twig' %}
{% block title %}{{ parent()}} Accueil{% endblock %}
{% block body %}

    <div class="container col-md-12 justify-content-center align-items-center">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {#<h6 class="m-0 font-weight-bold text-primary">Cette table contient tous les Menu enregistrés</h6>#}
                <a href="{{ path('app_bbr_admin_image_new') }}" class="btn btn-sm btn-primary float-right">Enregistrer une image</a>

            </div>
            <div class="card-body">
                <h4 class="text-center">Images enregistrées</h4>
                <div class="justify-content-center">
                    <div class="grid image-gallery row">
                        {% for image in images %}
                            <div class="gallery-item filter-swimmingpool col-md-3">
                                <figure class="gradient-overlay image-icon">
                                    <a href="{{ image.path }}">
                                        <img src="{{ image.path }}" class="img-fluid" alt="Image">
                                    </a>
                                    <figcaption>{{ image.legend }}</figcaption>
                                </figure>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
