
{% extends 'admin/layout/base.html.twig' %}

{% block title %}Administration des Slides{% endblock %}

{% block body %}
    <div class="container col-md-12 justify-content-center align-items-center">

        <h1 class="text-center">Liste des slide</h1>
        <div class="justify-content-center">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    {#<h6 class="m-0 font-weight-bold text-primary">Cette table contient tous les Menu enregistrés</h6>#}
                    <a href="{{ path('app_bbr_admin_slide_new') }}" class="btn btn-sm btn-primary float-right">Enregistrer un menu</a>

                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Image slide</th>
                                <th>Slide layers</th>
                                <th>Crée le</th>
                                <th>Edité le</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Titre</th>
                                <th>Image slide</th>
                                <th>Slide layers</th>
                                <th>Crée le</th>
                                <th>Edité le</th>
                                <th>actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for slide in slides %}
                                <tr>
                                    <td>{{ slide.title }}</td>
                                    <td><img src="{{ vich_uploader_asset(slide, 'imageFile') }}" class="img-fluid" style="height: 100px; width: 70px"></td>
                                    <td>
                                        {% for slidelay in slide.slidelayer %}
                                            {{ slidelay.title }} ,
                                        {% endfor %}

                                    </td>
                                    <td>{{ slide.createdAt ? slide.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ slide.updatedAt ? slide.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td class="d-inline-flex">
                                        {#<a href="{{ path('app_bbr_admin_slide_show', {'id': slide.id}) }}">show</a>#}
                                        <a href="{{ path('app_bbr_admin_slide_edit', {'id': slide.id}) }}" class="btn btn-sm btn-success">edit</a>
                                        {% include('admin/slide/_delete_form.html.twig') %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
