{% extends 'admin/layout/base.html.twig' %}
{% block title %}BBr Administration event{% endblock %}
{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800 text-center">Liste des réservations évènementielle</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Reservation N°</th>
                        <th>Nom et prenom(s) du client</th>
                        <th>Email</th>
                        <th>Titre Event</th>
                        <th>Date Event</th>
                        <th>Tarifs</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Reservation N°</th>
                        <th>Nom et prenom(s) du client</th>
                        <th>Contacts</th>
                        <th>Titre Event</th>
                        <th>Date Event</th>
                        <th>Tarifs</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for event_booking in event_bookings %}
                        <tr>
                            <td>BBR-EVENT-{{ event_booking.event.startAt  ? event_booking.event.startAt|date('Y-m-d') : ''}}{{ event_booking.id }}</td>
                            <td>{{ event_booking.booker.firstName }}{{ event_booking.booker.lastName }}</td>
                            <td>
                                <ul>
                                    <li>{{ event_booking.booker.email }}</li>
                                    <li>{{ event_booking.booker.phone }}</li>
                                </ul>

                            </td>
                            <td>{{ event_booking.event.title }}</td>
                            {#<td>{{ event_booking.createdAt ? event_booking.createdAt|date('d-m-Y H:i:s') : ''}}</td>#}
                            <td>{{ event_booking.event.startAt  ? event_booking.event.startAt|date('d-m-Y H:i:s') : ''}}</td>

                            <td>
                                {% for tariff in event_booking.event.tariffs %}
                                    <ul>
                                        <li>{{tariff.title  }}</li>
                                        <li>{{ tariff.getFormatPrice }}</li>
                                        <li>{{ tariff.typeOfTariff.title }}</li>
                                    </ul>
                                {% else %}
                                   <p class="text-warning">Aucun tarif associé à cet évènement, veuillez contacter le service client</p>

                                {% endfor %}
                            </td>

                            {#<td>#}
                                {#<a href="{{ vich_uploader_asset(event.mainImage, 'imageFile') }}">#}
                                    {#<img src="{{ vich_uploader_asset(event.mainImage, 'imageFile') }}" class="img-fluid" alt="Image" width="50" height="50">#}
                                {#</a>#}
                            {#</td>#}
                            {#<td>#}
                                {#{% for image in event.secondaryImages %}#}
                                    {#<a href="{{ vich_uploader_asset(image, 'imageFile') }}">#}
                                        {#<img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="img-fluid" alt="Image" width="50" height="50">#}
                                    {#</a>#}
                                {#{% endfor %}#}
                            {#</td>#}
                            {#<td>#}
                                {#{% for equipment in event.equipments %}#}
                                    {#<span><i class="fa fa-{{ equipment.icon }}"></i><em>{{ equipment.name }}</em></span>#}
                                {#{% endfor %}#}
                            {#</td>#}
                            <td class="d-inline-flex">
                                {#<a href="{{ path('event_equipment_show', {'id': event_equipment.id}) }}">show</a>#}
                                {#<a href="{{ path('app_bbr_admin_event_booking_edit', {'event': event.id}) }}" class="btn btn-sm btn-success mx-3">Update</a>#}
                                {{ include('admin/event_booking/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}