{% extends './layouts/base.html.twig' %}

{% block title %}BBR services sur demande{% endblock %}

{% block body %}

    <div class="page-title gradient-overlay op6" style="background: url({{ asset('/assets/images/breadcrumb.jpg') }}); background-repeat: no-repeat;
            background-size: cover;">
        <div class="container">
            <div class="inner">
                <h1>SERVICES SUR DEMANDE</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>Services sur demande</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- ========== MAIN ========== -->
    <main class="rooms-grid-view">
        <div class="container">
            <div class="row">
                {% for service in services %}
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="{{ path('app_bbr_service_show',{'id': service.id}) }}">
                                <img src="{{vich_uploader_asset(service, 'imageFile')  }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">{{ service.title }}</a>
                            </h2>
                            <p>{{ service.subtitle|raw|raw }}</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="{{ path('app_bbr_service_show',{'id': service.id}) }}">Plus de détails</a>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- PAGINATION -->
            {#<div class="row pagination justify-content-center">#}
                {#{{ knp_pagination_render(services) }}#}
            {#</div>#}
        </div>
    </main>
{% endblock %}

