{% extends './layouts/base.html.twig' %}

{% block title %}BBR services sur demande{% endblock %}

{% block body %}

    <div class="page-title gradient-overlay op6" style="background: url({{ asset('/assets/images/breadcrumb.jpg') }}); background-repeat: no-repeat;
            background-size: cover;">
        <div class="container">
            <div class="inner">
                <h1>SERVICES SUR DEMANDE</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>Services sur demande</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- ========== MAIN ========== -->
    <main class="rooms-grid-view">
        <div class="container">
            <div class="row">
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/single/single1.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Single Room</a>
                            </h2>
                            <p>Enjoy our single room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/double/double.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Double Room</a>
                            </h2>
                            <p>Enjoy our double room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/deluxe/deluxe.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Deluxe Room</a>
                            </h2>
                            <p>Enjoy our delux room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/family/family.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Family Room</a>
                            </h2>
                            <p>Enjoy our family room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/king/king.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">King Room</a>
                            </h2>
                            <p>Enjoy our king room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/honeymoon/honeymoon.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Honeymoon Room</a>
                            </h2>
                            <p>Enjoy our honeymoon room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/view/view.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Room With View</a>
                            </h2>
                            <p>Enjoy our room with view</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/luxury/luxury.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Luxury Room</a>
                            </h2>
                            <p>Enjoy our luxury room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ITEM -->
                <div class="col-lg-4 col-md-6">
                    <div class="room-grid-item">
                        <figure class="gradient-overlay-hover link-icon">
                            <a href="#">
                                <img src="{{ asset('/assets/images/rooms/small/small.jpg') }}" class="img-fluid" alt="Image">
                            </a>
                        </figure>
                        <div class="room-info">
                            <h2 class="room-title">
                                <a href="#">Small Room</a>
                            </h2>
                            <p>Enjoy our small room</p>
                            <div class="align-center">
                                <a class="btn btn-sm btn-dark" href="#">MORE DETAILS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAGINATION -->
            <nav class="pagination">
                <ul>
                    <li class="prev-pagination">
                        <a href="#">
                            &nbsp;<i class="fa fa-angle-left"></i>
                            Previous &nbsp;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>...</li>
                    <li>
                        <a href="#">7</a>
                    </li>
                    <li>
                        <a href="#">8</a>
                    </li>
                    <li>
                        <a href="#">9</a>
                    </li>
                    <li class="next_pagination">
                        <a href="#">
                            &nbsp; Next
                            <i class="fa fa-angle-right"></i>
                            &nbsp;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
{% endblock %}

